<div class="text-center" id="new" ng-controller="EditCtrl">
<div class="contactForm container col-md-9 col-md-offset-4">
  <form class="form" name="newcontact">
    <div class="row inputRow">
      <h3 class="friends-title"> Edit your friend's information </h3>
      <div class="col-xs-3">
        <input type="text" class="form-control" id="FirstName" placeholder="First Name" ng-model="newcontact.firstname" ng-required="true">
      </div>
      <div class="col-xs-3">
        <input type="text" class="form-control" id="LastName" placeholder="Last Name" ng-model="newcontact.lastname" ng-required="true">
      </div>
    </div>
    <div class="row inputRow">
      <div class="col-xs-3">
        <input type="tel" class="form-control" id="mobile" placeholder="Mobile Number" ng-model="newcontact.phonenumber" ng-required="true">
      </div>
      <div class="col-xs-3">
        <input type="text" class="form-control" id="address" placeholder="Address" ng-model="newcontact.address" ng-required="true">
      </div>
    </div>
    <div class="row inputRow">
      <div class="col-xs-3">
        <input type="text" class="form-control" id="bday" placeholder="Birthday" ng-model="newcontact.birthday" ng-required="true">
      </div>
      <div class="col-xs-3">
       <input type="text" class="form-control" id="nickname" placeholder="Nick-name" ng-model="newcontact.nickname" ng-required="true">
      </div>
      </div>
      <div class="row inputRow">
      <div class="col-xs-3">
        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="newcontact.email" ng-required="true">
      </div>
      </div>
    </div>
     <button ng-disabled="newcontact.$invalid" type="button" class="btn btn-default col-xs-1 col-md-offset-6" ng-click="submitForm()">Update</button>
  </form>
</div>     
</div>
         
                    
   
 
