body {
  background-color: white; }

.googleButton {
  background-color: transparent;
  border-style: none; }

.contactForm {
  margin-bottom: 25px;
  text-align: center; }
  .contactForm .row {
    margin-bottom: 17px; }

.friend-form {
  text-align: center;
  margin-bottom: 32px; }
